<section class="housecleaning">
	<md-card  class="md-primary mb-3" md-theme="white-card">
		<md-card-header>
			<div class="md-title">Space</div>
		</md-card-header>
		<md-card-content>
	        <div class="row">
	        	<div class="col-sm-6">
	        		<md-field>
	        			<md-icon>king_bed</md-icon>
						<label for="country">Bedroom(s)</label>
						<md-select v-model="bedroom" name="bedroom" id="bedroom" @md-selected="getBedVal('bedroom', 10, bedroom)">
							<md-option value="1">1</md-option>
							<md-option value="2">2</md-option>
							<md-option value="3">3</md-option>
							<md-option value="4">4</md-option>
							<md-option value="5">5</md-option>
							<md-option value="6">6</md-option>
							<md-option value="7">7</md-option>
							<md-option value="8">8</md-option>
							<md-option value="9">9</md-option>
							<md-option value="10">10</md-option>

						</md-select>
			        </md-field>
	        	</div>

	        	<div class="col-sm-6">
	        		<md-field>
						<md-icon>bathtub</md-icon>
						<label for="country">Bathroom(s)</label>
						<md-select v-model="bathroom" name="bathroom" @md-selected="getBathVal('bathroom', 10)" id="bathroom">
						<md-option value="1">1</md-option>
						<md-option value="2">2</md-option>
						<md-option value="3">3</md-option>
						<md-option value="4">4</md-option>
						<md-option value="5">5</md-option>
						<md-option value="6">6</md-option>
						<md-option value="7">7</md-option>
						<md-option value="8">8</md-option>
						<md-option value="9">9</md-option>
						<md-option value="10">10</md-option>

						</md-select>
			        </md-field>
	        	</div>
	        </div>

	      </md-card-content> 
    </md-card>

    <h5 class="mt-4 mb-3">Extra Services</h5>

    <div class="extra-service">
    	 <item-panel v-for="items in extraService" v-bind:key="items.id" :itemcontent="items"  class="mb-3" /> 
    </div>
</section>
