<b-navbar toggleable="lg" type="dark" variant="dark">
  <b-navbar-brand to="/"><img src="../../assets/images/logo-icon.png" alt="logo" width="55" /></b-navbar-brand>

  <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

  <b-collapse id="nav-collapse" is-nav>
    <b-navbar-nav class="ml-auto">
      <b-nav-item to="/house-cleaning">House Cleaning</b-nav-item>
      <b-nav-item to="/plumbing">Plumbing Services</b-nav-item>

      <b-nav-item to="/carpentery">Carpenter Services</b-nav-item>
      <b-nav-item to="/office-cleaning">Office Cleaning</b-nav-item>

      <b-nav-item href="#">Login</b-nav-item>
      <b-nav-item href="#">Register</b-nav-item>

    </b-navbar-nav>

    <!-- Right aligned nav items -->
     
  </b-collapse>
</b-navbar>