<section class="bookingsummary">
  
  <md-card class="md-primary" md-theme="white-card">
      <md-card-header>
        <md-card-header-text>
          <div class="md-title">Booking Summary</div> 
        </md-card-header-text>
      </md-card-header>

      <md-card-content>
      	<div class="mb-2" v-if="serviceName">
      		<md-icon title="service" class="mr-2">select_all</md-icon> 
      		<strong>{{serviceName}}</strong>
      	</div>
      	<div class="mb-2" v-if="serviceDate.selectedDate">
      		<md-icon class="mr-2">calendar_today</md-icon> <span>{{ serviceDate.selectedDate }}</span>
      	</div>
        <div class="mb-2" v-if="serviceTime">
          <md-icon class="mr-2">calendar_today</md-icon> <span>{{ serviceTime }}</span>
        </div>
      	<div class="mb-2" v-if="duration">
      		<md-icon class="mr-2">slow_motion_video</md-icon> <span>{{ duration }}</span>
      	</div>
      	<div class="mb-2">
      		<md-icon class="mr-2">hourglass_empty</md-icon> <span>3 hours 30 Minutes</span>
      	</div>
      	<h5 class="mb-3 pt-2">Cart Items</h5>


        {{serviceInfo}}
      <div v-if="serviceInfo">
        

      	<div class="cart-items-group mb-3">
      		<div class="cart-items-list mb-2">
      			<div class="row">
      				<div class="col-5 text-left servicename"><strong>Service</strong></div>
      				<div class="col-3 text-center qty"><strong>QTY</strong></div>
      				<div class="col-4 text-right"><strong>Price</strong></div>
      			</div>
      		</div>

      		<div class="cart-items-list mb-2" v-for="(items, index) in serviceInfo ">
	      	<md-button class="md-icon-button md-accent icon">
			    	<md-icon>close</md-icon>
			    </md-button>
      			<div class="row">
      				<div class="col-5 text-left servicename text-capitalize"><span>{{items.servicename}}</span></div>
      				<div class="col-3 text-center">{{ items.serviceqty }}</div>
      				<div class="col-4 text-right">{{items.serviceprice}}</div>
      			</div>
      		</div>
      		  

      		<div class="cart-items-list mb-2 mt-4">
	      		<div class="row">
      				<div class="col-6 text-left servicename"><span>Sub Total</span></div>
      				<div class="col-6 text-right">81.00</div>
      			</div>
      			<div class="row">
      				<div class="col-6 text-left servicename"><span>Discount</span></div>
      				<div class="col-6 text-right"><small>7.00</small></div>
      			</div>
      			<div class="row">
      				<div class="col-6 text-left servicename"><span>Tax</span></div>
      				<div class="col-6 text-right">7.09</div>
      			</div>
      		</div>
      	</div>

      	<b-alert show variant="info">
      		<div class="mb-2">You only need to pay a deposit to confirm your booking. The remaining amount needs to be paid on arrival.</div>
      		<div class="row">
  				<div class="col-6 text-left servicename"><strong>Partial Deposit</strong></div>
  				<div class="col-6 text-right">38.98</div>
  			</div>
  			<div class="row">
  				<div class="col-6 text-left servicename"><strong>Remaining Amount</strong></div>
  				<div class="col-6 text-right">38.98</div>
  			</div>
      	</b-alert>
      </div>
      <div v-else><md-icon title="service" class="mr-2">shopping_cart</md-icon> Cart is empty</div>
      </md-card-content>

      <md-card-header v-if="serviceInfo">
        <md-card-header-text>
          <div class="md-title">
          	<div class="row">
  				<div class="col-6 text-left servicename">Total</div>
  				<div class="col-6 text-right">$77.96</div>
  			</div>
          </div> 
        </md-card-header-text>
      </md-card-header>
    </md-card>
</section>

