.bookingsummary {
	.cart-items-group{
		.cart-items-list{
			position: relative;
			padding-right: 15px;

			.icon{
				position: absolute;
				z-index: 1;
				right: -16px;
				top: 0px;
				font-size: 12px;
				width: 12px;
				height: 23px;
				min-width: 2px;

				.md-ripple{
					padding: 0;

					.md-icon{
						width: auto;
						height: auto;
						color: var(--danger);
						font-size: 18px !important;
					}
				}
			}
		}

		.servicename{
			span{
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}