<section class="bookingsummary">
  <md-card class="md-primary" md-theme="white-card">
      <md-card-header>
        <md-card-header-text>
          <div class="md-title">Booking Summary</div> 
        </md-card-header-text>
      </md-card-header>

      <md-card-content>
      	<div class="mb-2" v-if="serviceName"  title="Service Type">
      		<md-icon title="service" class="mr-2">select_all</md-icon> 
      		<strong>{{serviceName}}</strong>
      	</div>
      	<div class="mb-2" v-if="serviceDate.selectedDate" title="Start Date">
      		<md-icon class="mr-2">calendar_today</md-icon> <span>{{ serviceDate.selectedDate }}</span>
      	</div>
        <div class="mb-2" v-if="serviceTime &&  serviceTime != undefined"  title="Start Time">
          <md-icon class="mr-2">alarm</md-icon> <span>{{ serviceTime }}</span>
        </div>
      	<div class="mb-2" v-if="duration"  title="Time Taken">
      		<md-icon class="mr-2">slow_motion_video</md-icon> <span>{{ duration }}</span>
      	</div>
      	<div class="mb-2" v-if="getTotalTime != 0">
      		<md-icon class="mr-2">hourglass_empty</md-icon> <span>{{ getTotalTime | toHours }}</span>
      	</div>
      	<h5 class="mb-3 pt-2">Cart Items</h5>

      <div v-if="subServiceInfo.length">
      	<div class="cart-items-group mb-3">
      		<div class="cart-items-list mb-2">
      			<div class="row">
      				<div class="col-6 text-left servicename"><strong>Service</strong></div>
      				<div class="col-3 text-center qty"><strong>QTY</strong></div>
      				<div class="col-3 text-right"><strong>Price</strong></div>
      			</div>
      		</div>

      		<div class="cart-items-list mb-2" v-for="(items, index) in subServiceInfo" :counter="serialcounter">
	      	<md-button class="md-icon-button md-accent icon" v-on:click="spliceItem(items.servicename)">
			    	<md-icon>close</md-icon>
			    </md-button>
      			<div class="row">
      				<div class="col-6 text-left servicename text-capitalize" :title="items.servicename"><span>{{items.servicename}}</span></div>
      				<div class="col-3 text-center"><span v-if="items.serviceqty > 1" >{{ items.serviceqty }}</span></div>
      				<div class="col-3 text-right">{{items.serviceprice | convertToCurrency}}</div>
      			</div>
      		</div>
      		  <hr />

      		<div class="cart-items-list mb-2">
	      		<div class="row">
      				<div class="col-6 text-left"><strong>Sub Total</strong></div>
      				<div class="col-6 text-right">{{ getSubTotal | convertToCurrency }}</div>
      			</div>
      			<div class="row">
      				<div class="col-6 text-left"><strong>Discount({{getDiscount}}%)</strong></div>
      				<div class="col-6 text-right">{{ (calcDiscount(getSubTotal, getDiscount))  | convertToCurrency }}</div>
      			</div>
      			<div class="row">
      				<div class="col-6 text-left"><strong>Tax <span v-if="taxPrice">({{taxPrice}}%)</span></strong></div>
      				<div class="col-6 text-right">{{calTaxes(getSubTotal, totalDiscountPrice, taxPrice)  | convertToCurrency}}</div>
      			</div>
      		</div>
      	</div>

      	<b-alert show variant="info" class="mb-0">
      		<div class="mb-2">You only need to pay a deposit to confirm your booking. The remaining amount needs to be paid on arrival.</div>
      		<div class="row">
  				<div class="col-6 text-left servicename"><strong>Partial Deposit</strong></div>
  				<div class="col-6 text-right">{{ (((getSubTotal - totalDiscountPrice) + totalTaxPrice) / 2) | convertToCurrency }}</div>
  			</div>
  			<div class="row">
  				<div class="col-6 text-left servicename"><strong>Remaining Amount</strong></div>
  				<div class="col-6 text-right">{{ (((getSubTotal - totalDiscountPrice) + totalTaxPrice) / 2) | convertToCurrency }}</div>
  			</div>
      	</b-alert>
      </div>
      <div v-else><md-icon title="service" class="mr-2">shopping_cart</md-icon> Cart is empty</div>
      </md-card-content>

      <md-card-header v-if="subServiceInfo.length">
        <md-card-header-text>
          <div class="md-title">
          	<div class="row">
  				<div class="col-6 text-left servicename"><strong>Total</strong></div>
  				<div class="col-6 text-right"> 

            {{ ((getSubTotal - totalDiscountPrice) + totalTaxPrice) | convertToCurrency }} 

          </div>
  			</div>
          </div> 
        </md-card-header-text>
      </md-card-header> 
    </md-card>

</section>

