<section class="carpenter">
	<md-tabs class="mb-3" md-theme="white-card">
      <md-tab v-on:click="carpenterservicetype = 'property'" id="tab-home" md-label="Property Based"></md-tab>
      <md-tab v-on:click="carpenterservicetype = 'area'" id="tab-pages" md-label="Area Based (ft.)"></md-tab> 
    </md-tabs>
    <div  v-if="carpenterservicetype == 'property'">
	   	<md-card class="md-primary mb-3" md-theme="white-card">
	    
	      <md-card-content>
	         <div class="row">
	         	<div class="col-sm-6">
	         		<md-field>
				      <md-icon>business</md-icon>
				      <label for="buildwall">Build walls</label>
				       <md-select v-model="buildwall" name="buildwall" id="buildwall" @md-selected="getbuildwallVal('build wall', 10, 30)">
			            <md-option value="1">1</md-option>
			            <md-option value="2">2</md-option>
			            <md-option value="3">3</md-option>
			            <md-option value="4">4</md-option>

			            <md-option value="5">5</md-option>
			            <md-option value="6">6</md-option>
			            
			          </md-select>
				    </md-field>
	         	</div>

	         	<div class="col-sm-6">
	         		<md-field>
				      <md-icon>view_quilt</md-icon>
				      <label for="builddoorways">Build doorways</label>
				       <md-select v-model="builddoorways" name="builddoorways" id="builddoorways" @md-selected="getbuilddoorwaysVal('build doorways', 10, 30)">
			            <md-option value="1">1</md-option>
			            <md-option value="2">2</md-option>
			            <md-option value="3">3</md-option>
			            <md-option value="4">4</md-option>

			            <md-option value="5">5</md-option>
			            <md-option value="6">6</md-option> 
			            
			          </md-select>
				    </md-field>
	         	</div>

	         	<div class="col-sm-6">
	         		<md-field>
				      <md-icon>developer_board</md-icon>
				      <label for="buildwindows">Build windows</label>
				       <md-select v-model="buildwindows" name="buildwindows" id="buildwindows" @md-selected="getbuildwindowsVal('build windows', 10, 30)">
			            <md-option value="1">1</md-option>
			            <md-option value="2">2</md-option>
			            <md-option value="3">3</md-option>
			            <md-option value="4">4</md-option>

			            <md-option value="5">5</md-option>
			            <md-option value="6">6</md-option> 
			            
			          </md-select>
				    </md-field>
	         	</div>
	         </div>
	      </md-card-content>

	    </md-card>

	</div>

    <md-card class="md-primary mb-3" md-theme="white-card" v-if="carpenterservicetype == 'area'">
    	<md-card-header>
    		<div class="md-title">Remodeling or enhancing existing structures </div>
    	</md-card-header>
		<md-card-content>
			<md-field class="md-has-value" :class="{'md-invalid': errors.has('cleaningarea') }">
				<md-icon>aspect_ratio</md-icon>
				<label>Area of Cleaning</label>
				<!-- <md-input v-model="cleaningarea" v-on:keyup="getcleaningareaVal('Area Clean(sqft)', 10, 30)"></md-input> -->
				<input type="text"  v-validate="{ numeric: true, min_value: 100 }"  class="md-input" name="cleaningarea" v-model="cleaningarea" id="cleaningarea" v-on:keyup="getcleaningareaVal('Remodeling or enhancing existing structures (sqft)', 2, 30)" />
				<span class="md-suffix">sq. ft.</span>

				<span class="md-error" v-if="errors.has('cleaningarea')">{{ errors.first('cleaningarea') }}</span>
			</md-field>
		</md-card-content>
  	</md-card>

  	<h5 class="mt-4 mb-3" v-if="extraService">Extra Services</h5>

	<item-panel v-for="items in extraService" v-bind:key="items.id" :itemcontent="items"  class="mb-3" v-on:sendExtraService="getExtraService" v-on:spliceItem="getSpliceItem" /> 

</section>

