<section class="officecleaningr">
	<md-tabs class="mb-3" md-theme="white-card">
      <md-tab v-on:click="officeservice = 'property'" id="tab-home" md-label="Property Based"></md-tab>
      <md-tab v-on:click="officeservice = 'area'" id="tab-pages" md-label="Area Based (ft.)"></md-tab> 
    </md-tabs>
    <div  v-if="officeservice == 'property'">
	   	<md-card class="md-primary mb-3" md-theme="white-card">
	    
	      <md-card-content>
	         <div class="row">
	         	<div class="col-sm-6">
	         		<md-field>
				      <md-icon>business</md-icon>
				      <label for="deskcleaning">Swiping With Desk Cleaning</label>
				       <md-select v-model="deskcleaning" name="deskcleaning" id="deskcleaning">
			            <md-option value="1">1</md-option>
			            <md-option value="2">2</md-option>
			            <md-option value="3">3</md-option>
			            <md-option value="4">4</md-option>

			            <md-option value="5">5</md-option>
			            <md-option value="6">6</md-option>
			            
			          </md-select>
				    </md-field>
	         	</div>

	         	<div class="col-sm-6">
	         		<md-field>
				      <md-icon>view_quilt</md-icon>
				      <label for="windowclean">Doors And Window Cleaning</label>
				       <md-select v-model="windowclean" name="windowclean" id="windowclean">
			            <md-option value="1">1</md-option>
			            <md-option value="2">2</md-option>
			            <md-option value="3">3</md-option>
			            <md-option value="4">4</md-option>

			            <md-option value="5">5</md-option>
			            <md-option value="6">6</md-option> 
			            
			          </md-select>
				    </md-field>
	         	</div>
 
	         </div>
	      </md-card-content>

	    </md-card>

	</div>

    <md-card class="md-primary mb-3" md-theme="white-card" v-if="officeservice == 'area'">
    	<md-card-header>
    		<div class="md-title">Remodeling or enhancing existing structures </div>
    	</md-card-header>
		<md-card-content>
			<md-field>
				<md-icon>aspect_ratio</md-icon>
				<label>Area of Cleaning</label>
				<md-input v-model="officearea"></md-input>
				<span class="md-suffix">sq. ft.</span>
			</md-field>
		</md-card-content>
  	</md-card>

  	<h5 class="mt-4 mb-3" v-if="extraService">Extra Services</h5>

	<item-panel v-for="items in extraService" v-bind:key="items.id" :itemcontent="items"  class="mb-3" /> 
</section>

