:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #48465b;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #1e1e2d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f2f3f8;
    --dark: #343a40;
    --border-color: rgba(0,0,0,.42);
    --active-color: #7b1fa2;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: $sans-serif;
    --font-family-monospace: $monospace;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	font-size: 14px;
	font-family: var(--font-family-sans-serif);
	color: var(--gray);
    background: var(--light);

	a{
		text-decoration: none;

		&:hover, 
        &:focus{

			color: var(--gray);
            text-decoration: none;
		}

        &:not(.md-button){
            &:hover, &:focus{
                text-decoration: none
            }
        }

		img{
			border: none;
		}
	}

	img{
		max-width: 100%;
	}

}